<div id="bloc_introduction">
	<div id="left_door">
		<div id="left_door_fill">
			<div id="yin"></div>
		</div>
		<div id="separator_left"></div>
	</div>
	
	<div id="right_door">
		<div id="right_door_fill">
			<div id="yang"></div>
		</div>
		<div id="separator_right"></div>
	</div>
</div>