<div id="bloc_animation">
	<div id="left_door">
		<div id="left_door_fill">
			<div id="yin"><div class="yin-point"></div></div>
		</div>
		<div id="separator_left"></div>
	</div>

	<div id="separator"></div><div class="ball"></div>
	
	<div id="right_door">
		<div id="right_door_fill">
			<div id="yang"><div class="yang-point"></div></div>
		</div>
		<div id="separator_right"></div>
	</div>
</div>


<div class="portfolio_page" id="bloc_introduction">
	{# <div id="bloc_introduction_content">
		<h3 class="prenom">Kevin Vacherot</h3>
		<h3 class="job">Web Developer</h3>
		<div class="photo_bubble"></div>
	</div> #}
</div>
<div class="portfolio_page" id="bloc_career">

</div>

<div class="portfolio_page" id="bloc_skills">

</div>

<div class="portfolio_page" id="bloc_work">
	
</div>

<div class="portfolio_page" id="bloc_contact">
	
</div>